@import '../../../sass/variables';
@import '../../../sass/Additionalcomponents/hover';
@import '../../../sass/Additionalcomponents/button';
@import '../../../sass/bootstrap/bootstrap.scss';

.background {
	height: 690px;
	background-image: url("../../../images//backgroundheader.png");
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	position: relative;
	background-size: cover;
}

.about {
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

.topbar {
	font-size: 14px;
	font-weight: 400;
	line-height: 41px;
	float: right;
	text-transform: uppercase;
	padding-top: 20px;
	z-index: 1;
	position: absolute;
	right: 0;
	top: 0;

	.toggle-btn {
		cursor: pointer;
		float: right;
		position: relative;
		display: none;

		span {
			display: block;
			width: 30px;
			height: 5px;
			background: $white-color;
			margin: 5px 0;
		}
	}

	ul {
		li {
			display: block;
			float: left;
		}

		div {
			float: right;
			color: $topbar-a-color;
			text-align: center;
			padding: 0 16px;
			text-decoration: none;
			font-size: 17px;

			&:hover {
				color: $orange-color;
			}

			&.active {
				color: $white-color;
			}
		}
	}
}

.btn {
    width: 240px;
    height: 65px;
    background-color: $orange-color;
    color: $white-color;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 100px;

}

// hamburger button
.button-container {
	display: inline-block;
	width: 100%;
	padding: 20px 10px 10px;
}

.button-container h3 {
	display: inline;
}

.welcome {
	margin-top: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	h1 {
		color: $white-color;
		font-family: $font-montserrat;
		font-size: 55px;
		font-weight: 700;
		text-transform: uppercase;
		width: 100%;
	}

	h3 {
		color: $white-color;
		font-family: $font-PT;
		font-size: 40px;
		letter-spacing: -1px;
		margin-bottom: 27px;
		font-weight: 400;
	}

	.button-welcome {
		padding-top: 37.6px;
	}
}
