header {

  	.section--products {
		.row {
		justify-content: center;
		}

		.col-3 {
		min-width: 280px;
		}
	}

	.section--blog-posts {
		.row {
			justify-content: center;
		}
	}

	.col-auto {
		box-sizing: border-box;
		max-width: 100%;
		background-color: red;

		ul {
			flex-wrap: wrap;
		}
	}

	.fa-search {
		position: relative;
		padding-right: 10px;
	}
}

.products-display {
    display: flex;
    justify-content: center;
}

.align-items-center {
	display: flex;
	justify-content: center;
}
